
a, a:link, a:visited,
a:hover, a:active{text-decoration: none;
                    color: currentColor;}



.bg-fef0ef{
    background-color: #fef0ef;
}

.bg-f66962{
    background-color: #f66962;
}

.bg-282834{
    background-color: #282834;
}

.bg-efeff7{
    background-color: #efeff7;
}

.bg-f6f6fb{
    background-color: #f6f6fb;
}


.txt-777578{
    color:#777578
}

.txt-67c97d{
    color: #67c97d;
}

.txt-f68c1f{
    color: #f68c1f
}

.txt-f66962{
    color:#f66962
}


.button-primary{
    background-color:#f66962;
    color: #ffffff;
}

.minHeight-60{
    min-height: 60px;
}
